<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>particles.sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>particles.test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADBBEA4719BB32930058A909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBBEA6519BB457B0058A909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBBEA7B19BB4BC20058A909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBBEA8319BB4BD70058A909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
